{% extends "base.html" %}
{% block content %}
<head>
    <style>
        body {
            background-image: url("https://wallpapers.com/images/hd/aesthetic-computer-light-pink-wallpaper-oatwxzjq354ka14t.jpg");
            background-size:cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
</head>
    <h2><span style="color: #ff0000;">Signed out</span></h2>
    <h4><span style="color: #000000;">Thanks for spending some quality time with Moms_Connect Blog today.</span></h4>
        <div class="border-top pt-3">
            <small class="text-muted">
                <button class="btn btn-outline-info" type="submit"><a href="{% url 'login' %}">Sign in again</a></button>
            </small>
        </div>
{% endblock content %}
